:root {
  --primary-color: #ffb4ac;
  --secondary-color: #679186;
  --accent-color-blue: #264e70;
  --highlight: #ffebd3;
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-family: playfair display;
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: roboto;
  font-size: 18px;
}

.introducton {
  background: var(--secondary-color);
  color: var(--highlight);
  text-align: center;
  margin: 276px 250px;
  border-radius: 4px;
}
.contact-me-home {
  background-color: var(--accent-color-blue);
  color: white;
  padding: 15px;
  margin: 10px;
}
