:root {
  --primary-color: #ffb4ac;
  --secondary-color: #679186;
  --secondary-color-opaque: rgba(103, 145, 134, 0.8);
  --accent-color-blue: #264e70;
  --highlight: #ffebd3;
}
body {
  background-color: var(--primary-color);
}
.page-container {
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  font-family: "playfair display";
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: "roboto";
  font-size: 18px;
}

h4 {
  font-size: 40px;
  font-weight: bold;
}
h4 p {
  margin: 0, auto;
}
p {
  line-height: 2.5;
}

.hero {
  background: var(--secondary-color-opaque);
  color: var(--highlight);
  text-align: center;
  margin-bottom: 25px;
}
.contact-me-home:hover {
  background-color: var(--accent-color-blue);
  color: white;
}
.me {
  color: var(--accent-color-blue);
  font-size: 18px;
}
.social-media {
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
}

.social-media-icons i {
  color: var(--accent-color-blue);
  font-size: 32px;
  transition: all 100ms ease-in-out;
}
i:hover {
  color: var(--accent-color-blue);
}
footer .contact-box {
  background: var(--highlight);
  padding: 20px 50px;
  border-radius: 10px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn {
  background-color: var(--accent-color-blue);
  padding: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 10px;
    text-align: center;
  }
}
